<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<bean class="com.pinmost.api.common.preference.CommonPropertyPlaceholderConfigurer" />

	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
		<property name="driverClass" value="org..Driver" />
		<property name="jdbcUrl" value="${datasource.jdbcUrl}" />
		<property name="user" value="${datasource.user}" />
		<property name="password" value="${datasource.password}" />
		<property name="maxIdleTime" value="10800" />
		<property name="maxConnectionAge" value="21600" />
		<property name="initialPoolSize" value="30" />
		<property name="minPoolSize" value="3" />
		<property name="acquireIncrement" value="10" />
		<property name="maxPoolSize" value="150" />
		<property name="maxStatementsPerConnection" value="100" />
		<property name="maxStatements" value="10000" />
		<property name="numHelperThreads" value="30" />
	</bean>


	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate" >
		<property name="dataSource" ref="dataSource" />
	</bean>
</beans>